---
import GitHub from '../icons/GitHub.astro'
import World from '../icons/World.astro'

interface Props {
  title: string
  description: string
  link?: string
  github: string
  image: string
  tags: { name: string; class: string; icon: string }[]
}

const { title, description, link, github, image, tags } = Astro.props
---

<div class="w-full group p-0.5 bg-[#bb3e03]/15 dark:bg-[#006073]/30 hover:bg-[#ca6702]/55 hover:dark:bg-[#0a9396] transition duration-500 rounded-lg relative myProjects after:absolute after:content-[''] after:top-6 after:dark:top-[30px] after:left-0 after:right-0 after:z-[-1] after:h-full after:w-full after:scale-[0.83] after:blur-[25px] after:opacity-0 after:hover:opacity-100 after:bg-[#ca6602]/55 after:dark:bg-[#0a9396]  after:transition after:duration-500">
  <span class="absolute inset-0 z-[1] rounded-lg opacity-0 transition duration-500" ></span>
  <div class="bg-gray-200 dark:bg-[#001219] p-6 max-sm:p-2 rounded-lg h-full relative z-[2]">
    <div class="relative rounded-lg overflow-hidden">
      <img
        class="sm:group-hover:scale-105 transition duration-1000 ease-in-out"
        src={image}
        alt={image}
      />
    </div>
    <div class="pt-4 max-sm:pt-2">
      <h3
        class="mb-2 text-2xl font-bold text-gray-800 dark:text-gray-200 max-sm:text-xl group-hover:text-[#ca6702] dark:group-hover:text-[#0a9396] text-shadow"
      >
        {title}
      </h3>
      <ul class="inline-flex flex-wrap gap-2 mb-2">
        {
          tags.map((item) => (
            <li class={item.class}>
              <img src={item.icon} alt={item.name} class="size-4" />
              {item.name}
            </li>
          ))
        }
      </ul>
      <p
        class="mb-3 text-base font-light text-gray-700 dark:text-gray-200 max-sm:text-sm"
      >
        {description}
      </p>
      <ul class="flex flex-wrap gap-2">
        {
          github && (
            <li>
              <a
                href={github}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center px-3 py-2 text-sm font-semibold text-center transition border rounded-lg bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200 border-[#000000] dark:border-gray-500 hover:bg-[#000000]/20 dark:hover:bg-gray-500/40 gap-2 max-sm:text-xs max-sm:font-medium"
              >
                <GitHub class="size-5" />
                Código
              </a>
            </li>
          )
        }
        {
          link && (
            <li>
              <a
                href={link}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center px-3 py-2 text-sm font-semibold text-center transition border rounded-lg bg-gray-200 dark:bg-gray-800 dark:text-sky-500 text-amber-700 dark:border-sky-700 border-amber-700  dark:hover:bg-sky-600/30 hover:bg-amber-600/20 gap-2 max-sm:text-xs max-sm:font-medium"
              >
                <World class="size-5" />
                Demo
              </a>
            </li>
          )
        }
      </ul>
    </div>    
  </div>
</div>