---
import GitHub from '../icons/GitHub.astro'
import Link from '../icons/Link.astro'

interface Props {
  title: string
  description: string
  link?: string
  github: string
  image: string
  tags: { name: string; class: string; icon: string }[]
}

const { title, description, link, github, image, tags } = Astro.props
---

<div class="w-full group p-0.5 bg-[#bb3e03]/15 dark:bg-[#006073]/30 rounded-lg relative myProjects">
  <span class="absolute inset-0 z-[1] rounded-lg opacity-0 transition duration-200" ></span>
  <div class="bg-gray-200 group-hover:bg-gray-200/95 dark:bg-[#001219] group-hover:dark:bg-[#001219]/90 rounded-lg h-full relative z-[2] flex flex-col">
    <div class="overflow-hidden h-[12em] sm:h-[13em] 2xl:h-[14em] p-2">
      <img
        class="sm:group-hover:scale-110 transition duration-700 ease-in-out h-full w-full object-cover rounded-lg"
        src={image}
        alt={image}
      />
    </div>
    <div class="px-3.5 pt-1.5 pb-3.5 flex flex-col grow space-y-1 sm:space-y-1.5">
      <h3
        class="sm:text-lg font-semibold uppercase text-gray-800 dark:text-gray-200"
      >
        {title}
      </h3>
      <ul class="inline-flex flex-wrap gap-2">
        {
          tags.map((item) => (
            <li class={`inline-flex gap-1 items-center text-[10px] sm:text-xs font-normal text-gray-800 dark:text-white px-1 py-0.5 sm:px-2 sm:py-1 rounded-full ${item.class}`}>
              <img src={item.icon} alt={item.name} class="size-3 sm:size-4" />
              {item.name}
            </li>
          ))
        }
      </ul>
      <p
        class="text-xs sm:text-sm font-normal text-gray-700 dark:text-gray-200 text-pretty"
      >
        {description}
      </p>
      <ul class="flex grow justify-start items-end">
        {
          github && (
            <li class="peer/github">
              <a
                href={github}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center p-2 transition rounded-lg text-gray-500 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-200 hover:bg-[#000000]/10 dark:hover:bg-gray-500/35"
              >
                <GitHub class="size-5" />
              </a>
            </li>
          )
        }
        {
          link && (
            <li class="peer/link">
              <a
                href={link}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center justify-center p-2 transition rounded-lg text-gray-500 hover:text-orange-700 dark:text-gray-400 dark:hover:text-cyan-400 dark:hover:bg-cyan-600/30 hover:bg-orange-600/20"
              >
                <Link class="size-5" />
              </a>
            </li>
          )
        }
        <li class="hidden peer-hover/github:block">
          <span class="text-gray-800 dark:text-gray-200 inline-flex items-center justify-center p-2 text-xs">
            Código
          </span>
        </li>
        <li class="hidden peer-hover/link:block">
          <span class="text-orange-700 dark:text-cyan-400 inline-flex items-center justify-center p-2 text-xs">
            Ver demo
          </span>
        </li>
      </ul>
    </div>    
  </div>
</div>